.login__error_upper {
    max-width: 358px;
    top: 164px;
    left: 0;  
  }
  
  @media all and (max-width: 380px) {
    .login__error_upper {
      max-width: 275px;
      top: 143px;
      left: 29px;    
    }
  }