.popup__text {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.20;
  max-width: 330px;
}

@media all and (max-width: 720px) {
  .popup__text {
    max-width: 238px;
    font-size: 18px;
    line-height: 1.22;
  }
}
