.popup__save-button {
  min-height: 50px;
  min-width: 358px;
  padding: 0;
  border: none;
  color: #ffff;
  background-color: #000000;
  margin-top: 47px;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  text-align: center;
  border-radius: 2px;
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.popup__save-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 720px) {
  .popup__save-button {
    min-width: 238px;
    min-height: 46px;
    font-size: 14px;
    line-height: 1.21;
    margin-top: 45px;
  }
}
