.header__user-data_open {
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

@media screen and (max-width: 354px) {
  .header__user-data_open {
    min-height: 75px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }
}
