.header__email {
    margin: 0;
    padding-top: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #fff; 
  }
/* 
  @media screen and (min-width: 524px) {
    .header__email {
        display: block;
        margin: 0 0 14px;
    }
} */