.profile__avatar {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

.profile__avatar::before {
  position: absolute;
  content: "";
  height: 120px;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(../../../image/avatar-edit.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px;
  border-radius: 50%;
  display: block;
  top: 0;
  left: 0;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s ease-in;
}

.profile__avatar:hover::before {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .profile__avatar {
    margin-right: 0;
  }
}
