.login__error_low {
    max-width: 358px;
    bottom: 343px;
    left: 0;
  }
  
  @media all and (max-width: 380px) {
    .login__error_low {
      max-width: 270px;
      top: 200px;
      left: 29px;
    }
  }