.form__input {
    width: 358px;
    padding: 0;
    padding-bottom: 8px;
    margin: 0 auto 28px;
    background-color: #000;
    border: none;
    border-bottom: 2px solid #ccc;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: #ffff;
  }
  
  @media screen and (max-width:578px) {
    .form__input {
      width: 250px;
    }
  }