.card__heart {
  padding: 0;
  border: none;
  height: 19px;
  width: 22px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffff;
  flex-shrink: 0;
  background-image: url(../../../../src/image/heart.svg);
  transition: opacity 0.2s linear;
  cursor: pointer;
}

.card__heart:hover {
  opacity: 0.5;
}

.card__heart:active {
  background-image: url(../../../../src/image/heart-active.svg);
  opacity: 1;
}

@media screen and (max-width: 450px) {
  .card__heart {
    height: 18px;
  }
}
